services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "$POSTGRES_DB", "-U", "$POSTGRES_USER" ]
      interval: 5s
      retries: 10
      start_period: 40s
      timeout: 5s

  goapp:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: goqueue_api_container
    image: goqueue_app:dev
    volumes:
      - ..:/app
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      - SERVICE_TYPE=api
    networks:
      - mynetwork
    ports:
      - "8080:8080"

  worker:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: goqueue_worker_container
    image: goqueue_app:dev
    volumes:
      - ..:/app
    depends_on:
      postgres:
        condition: service_healthy
      goapp:
        condition: service_started
    env_file:
      - ./.env
    environment:
      - SERVICE_TYPE=worker
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  postgres_data:
