services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: taskdb
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "$POSTGRES_DB", "-U", "$POSTGRES_USER" ]
      interval: 5s
      retries: 10
      start_period: 40s
      timeout: 5s

  goapp:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: goqueue_container
    volumes:
      - ..:/app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: taskdb
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
    networks:
      - mynetwork
    ports:
      - "8080:8080"

networks:
  mynetwork:
    driver: bridge

volumes:
  postgres_data:
